body{
  width: 50%;
}


.imgRec{
  float:right;
  width: 250px;
  height: 250px;
}

body{
  background-color: #ADD8E6;
}


body{
  border: 25px solid DodgerBlue;
  margin: 0px;
  width: 1295.5px;
  height: 592px;
  padding: 10px;
}

.linha{
  height: 1px;
  background-color: blue;
  margin: 3px;
  border: 0px;
}

.titulo{
  margin: 3px;
  font-size: 25px;
}

.imgdiv{
  width: 400px;
  height: 150px;
  float: right;
}


.texto{
  width: 650px;
  height: 150px;
  border: 0px;
}

.i2{
  width: 250px;
  height: 200px;
  float: right;

}
